

.feed-container{
    background-color: #FFF8D6;
}
#title{
    border: solid;
    color: #617A55;
}

.imagecard {
    background-color: #FFF8D6;
    float: auto;
    display: block;
    margin: 0px auto;
    width: 800px;
    height: 800px;
    padding: 20px 35px 20px 35px;
    object-fit: cover
    
}
.image-box{
    background-color: #FFF8D6;
    margin: auto;
    object-fit: cover
    
}

.main-container {
    background-color: #FFF8D6;
    margin: 35px 25px 25px 25px;
    padding: 16px;
    border: 1px;
    border-radius: 8px;
}


.main-content {
    background-color: #FFF8D6;
    flex: 100%;
    height: 100%;
    width: 100%;
}


.content-container {
    background-color: #FFF8D6;
    clear: both; 
    padding-top: 20px;
}

.home-container{
    background-color: #FFF8D6;
    text-align: center; 
    background-color: #FFF8D6;
    clear: both;
    width: auto;
    border: 3px solid #e9e9e9;
    padding: 5px 5px 5px 5px;
    margin-bottom: 8px;
    position: relative;
    overflow:auto
}

.feed-container {
    display: inline-block;
    position:relative; 
    flex: 1 1 80%;
}

.card {
    overflow: auto;
    margin-right:10px;
}

#delete-diary-button{
    float: right;
    color: wheat;
}

#edit-diary-button{
    float: right;
    color: wheat;
}

.like-container{
    background-color: #FFF8D6;
}

#bookmark-id {
    background-color: #a4d0a4a4;
}

#bookmark_count{
    background-color: #a4d0a4a4;
}

#likes_count{
    background-color: #a4d0a4a4;
}

#content{
    color: wheat;
    background-color: #617A55;
    border: solid;
    border-radius: 8px;
    margin: auto;
    width: 70%;
    text-align: center;
    padding: 20px;
    margin-bottom: 10px;
}

.comment-view{
    text-align: center; 
}

#diary_comment{
    background-color: #FFF8D6;
}

#like_images{
    background-color: #a4d0a4a4;
}

#comment-input-button{
    color: wheat;
}